* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hidden {
  display: none !important;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #82A382 ;
}

input, label {
  display: block;
}

input {
  min-width: 15em;
  max-width: 80%; /* todo: is there a way to expand with the input within limits? */
  margin-left: auto;
  margin-right: auto;
}

.error {
  border: 1px red solid;
  background: 1px #ff7e7e solid;
}

main {
  width: 90vw;
  min-width: 200px;
  min-height: 80vh;
  margin: 15px auto;
  text-align: center;
/*background-color: #82A382 ; /*if there's time to think about a nice background for the page itself*/
}


button.bookmark {
  width: 100%;
  display: flex;
  border: 0;
  background-color: white;
  background-color: #CEFDFF;
  border: 1px solid #82A382;
  padding-left: 1em;
}
main > button:first-child {
  border-top: none;
}
/*
button.bookmark:nth-of-type(odd){
  background-color:#CEFDFF;
}
button.bookmark:nth-of-type(even){
  background-color: #96B9BA;
} */

.controls {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-evenly;
  padding: 10px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}
h1 {
  margin: 20px auto 10px auto;
}

.rating {
  width: fit-content;
  margin-left: auto;
  flex-grow: 0;
}
.title.bookmark.expand {
  flex-grow: 1;
  margin: 0;

}

button.title.bookmark.expand {
  background-color: #818AA3;
  border: none;
}

.container.bookmark.expand,
.container.bookmark.expand > .header{
  /*background-color: #D5B9B2;*/
  background-color: #BFB5AF;
}

.container.bookmark.expand {
  break-inside: avoid;
  border: 1px solid #96B9BA;

}

a.visit {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: .5em;
  color: white;
  background-color: black;
  text-decoration: none;
  flex-grow: 0;
  align-self: center;
}

.expand.body{
  max-height: 40vh;
}

p.expand.body{
 overflow: auto;
 margin: 1em;
 border: 1px inset #818AA3;
 border-style: inset;
}

.expand.top, .expand.header{
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  justify-content: space-between;
  align-content: center;
}
/* .expand.header {
  border-bottom: 1px solid #818AA3;
} */

.del {
  width: fit-content;
  flex-grow: 0;
  background-color: darkgrey;
  border: none;
}
button.edit, button.save {
  background-color: darkgrey;
  flex-grow: 0;
  border: none;
  height: 100%;
  align-self: center;
  margin: .5em;
  padding: .5em;
}

#desc {
  width: 90%;
  height: 40vh;
  min-height: 150px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;

}

.fa-star {
  color: gold;
}
.fa-stack-2x.fa-star {
  top: -1px;
  left: -2px;
}
.fa-stack-2x, .fa-stack-1x {
  transform: scale(.65);
}
.fa-stack {
  margin: 0;
}

/* allow clicking through the star rating on the bookmark list */
.rating.collapsed {
  pointer-events: none;
  margin-right: .5em;
}



/* Rating add/edit styling: following adapted from https://css-tricks.com/star-ratings/ and https://stackoverflow.com/questions/32395594/css-star-rating-w-radio-buttons/32397849#32397849 */

.rating.add {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  width: fit-content;
  margin: auto auto;
  font-size: 200%;
}

.rating.add > input[type="radio"], .visual-hide {
 /* display: none; <-- breaks keyboard nav*/
  opacity: 0;
  position:absolute;
}

.rating.add > label {
  display: inline-block;
  position: relative;
  color: gold;
}

.rating.add > input[type="radio"]:checked ~ label:before
{
   content: "\2605";
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
}

.rating.add:hover > input[type="radio"]:checked ~ label:before{
  color: grey;
}

.rating.add:hover > label:hover:after,
.rating.add:hover > label:hover ~ label:after{
   content: "\2605";
   position: absolute;
   top: 0;
   left: 0;
}

/* end rating add/edit star styling */

/* for larger screeens */

@media screen and (max-width: 700px) {
  main.bm-list {
    max-width: 600px;
  }
}

@media screen and (min-width: 800px) {
 .title.add, .url-section.add, .title.add > *, .url-section.add > * {
   display: inline-block;
 }
 .title.add, .url-section.add {
   margin: auto 10px;
 }
}

@media screen and (min-width: 700px) {
  main.bm-list{
    width: 600px;
  }
}
@media screen and (min-height: 800px){
  /* add some breathing room on tall screens */
  main.bm-list > button,
  main.bm-list > .container {
    margin: 2px 0;
  }
  main.bm-list > button {
    padding: 6px inherit;
  }
  main.bm-list > .container {
    padding-top: 0;
  }
  .title.bookmark.expand, .del {
    padding: 3px inherit;
  }
}

/*get some columns for wide screens*/

@media screen and (min-width: 1200px) {
  main.bm-list{
    width: 90vw;
    max-width: 1200px;
    column-width: 500;
    column-count: 2;
  }
}

/* really wide screens can have more*/

@media screen and (min-width: 3000px) {
  main.bm-list{
    max-width: 2200px;
    column-count: 4;
  }
}


/* keyboard a11y */
:focus {
  outline-width: 3px;
}

.label:focus  :focus {
  outline: blue solid 3px;
}


/*
main.bm-list{
  column-width: 300px;
  column-count: 2;
  height: 80vh;
  column-fill: auto;
}
*/
